<% post.comments.each_with_index do |comment, index| %>
  <div class="row">
    <div class="col border py-2 mt-2 comment">
      <div class="row d-flex justify-content-between">
        <div class="col">
          <%= index + 1 %>: <%= link_to "#{comment.user.name}", admin_user_path(comment.user.id), class: "text-decoration-none text-dark" %>
        </div>
        <div class="col text-right">
          <%= comment.created_at.strftime('%Y/%-m/%-d' + ' ' + '%-H:%-M' + ' ' + '%p') %>
        </div>
      </div>
      <div class="row">
        <!-- コメントの内容を表示 -->
        <div class="col mt-1"><%= simple_format(comment.comment) %></div>
      </div>
      <div class="row">
        <div class="col d-flex justify-content-end">
          <%= link_to "削除", admin_post_comment_path(comment.post, comment), method: :delete, "data-confirm" => "コメントを削除しますか？", class: "btn btn-sm btn-danger" %>
        </div>
      </div>
    </div>
  </div>
<% end %>