<div class="container">
  <div class="row my-4">
    <div class="col">
      <div class="row">
        <div class="col offset-md-1 offset-0">
          <h3>新規グループ作成フォーム</h3>
          <%= render 'layouts/error', obj: @group %>
        </div>
      </div>

      <div class="row">
        <div class="col-xl-6 col-lg-7 col-sm-10 mx-auto">
          <%= form_with model: @group, url: groups_path, method: :post, local: true do |f| %>
            <div class="field mb-3">
              <%= f.label :グループ名 %><br />
              <%= f.text_field :name, autofocus: true, class: "form-control" %>
            </div>

            <div class="field mb-3">
              <%= f.label :紹介文 %><br />
              <%= f.text_area :introduction, class: "form-control" %>
            </div>

            <div class="field mb-4">
              <%= f.label :グループ画像 %><br />
              <%= f.file_field :group_image %>
            </div>

            <div class="field">
              <%= f.submit '作成する', class: "btn btn-sm btn-success form-control" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>