<div class="container">
  <div class="row my-4">
    <div class="col">
      <div class="row">
        <div class="col">
          <h3>グループ詳細</h3>
        </div>
      </div>

      <div class="row mt-3">
        <div class="col-lg col-md-12">
          <div class="row">
            <div class="col">
              <%= image_tag @group.get_group_image(472, 330), class: "group_image" %>
            </div>
          </div>
          <div class="row">
            <div class="col mt-4">
              <p><b>◆ グループ名</b></p>
              <p><%= @group.name %></p>
            </div>
          </div>
          <div class="row">
            <div class="col mt-3">
              <p><b>◆ 紹介文</b></p>
              <p><%= simple_format(@group.introduction) %></p>
            </div>
          </div>
        </div>
        <div class="col-lg col-md-12">
          <div class="row">
            <h5 class="col mb-3 fw-bold">◆グループメンバー</h5>
          </div>
          <div class="row border-top border-bottom py-2">
            <div class="col-2"></div>
            <div class="col"><b>ユーザー名</b></div>
            <div class="col-2"><b>投稿数</b></div>
          </div>
          <% @group.users.each do |user| %>
            <div class="row border-bottom py-2">
              <div class="col-2">
                <%= link_to user_path(user.id) do %>
                  <%= image_tag user.get_profile_image(50, 50), class: "rounded-circle d-block mx-auto" %>
                <% end %>
              </div>
              <div class="col">
                <%= link_to user_path(user.id) do %>
                  <%= user.name %>
                <% end %>
              </div>
              <div class="col-2"><%= user.posts.count %></div>
            </div>
          <% end %>
          <% unless @user.guest_user? %>
            <div class="row">
              <div class="col d-flex justify-content-end mt-3">
                <% if @group.includesUser?(@user)%>
                  <%= link_to 'グループメンバーと話す', group_chats_path(group_id: @group.id), class: "btn btn-sm btn-info mr-4", data: {turbolinks: "false"} %>
                <% end %>
                <% if @group.is_owned_by?(@user) %>
                  <%= link_to 'グループ情報を編集する', edit_group_path(@group.id), class: "btn btn-sm btn-success" %>
                <% elsif @group.includesUser?(@user)%>
                  <%= link_to 'グループから脱退する', group_user_groups_path(group_id: @group.id), method: :delete, class: "btn btn-sm btn-danger" %>
                <% else %>
                  <%= link_to 'グループに参加する', group_user_groups_path(group_id: @group.id), method: :post, class: "btn btn-sm btn-primary" %>
                <% end %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
