<div class="container">
  <div class="row my-4">
    <div class="col">
      <div class="row">
        <div class="col offset-1">
          <%= puts @post.inspect %>
          <h3>投稿編集フォーム</h3>
          <%= render 'layouts/error', obj: @post %>
        </div>
      </div>

      <div class="row">
        <div class="col-6 mx-auto">
          <%= form_with model: @post, url: post_path(@post.id), method: :patch, local: true do |f| %>
            <%= f.hidden_field :user_id, value: current_user.id %>

            <div class="field mb-3">
              <%= f.label :店名 %><br />
              <%= f.text_field :name, autofocus: true, class: "form-control" %>
            </div>

            <div class="field mb-3">
              <%= f.label '説明' %><br />
              <%= f.text_area :caption, class: "form-control" %>
            </div>

            <div class="field mb-4">
              <%= f.label :住所 %><br />
              <%= f.text_field :address, class: "form-control" %>
            </div>

            <div class="field">
              <%= f.submit '更新する', class: "btn btn-sm btn-success form-control" %>
            </div>
          <% end %>

          <%= link_to '削除する', post_path(@post.id), class: "btn btn-sm btn-danger" %>
        </div>
      </div>
    </div>
  </div>
</div>

