<div class="container">
  <div class="row my-4">
    <div class="col">
      <div class="row">
        <div class="col offset-1">
          <h3>投稿編集フォーム</h3>
          <%= render 'layouts/error', obj: @post %>
        </div>
      </div>

      <div class="row">
        <div class="col-6 mx-auto">
          <%= form_with model: @post, url: post_path(@post.id), method: :patch, local: true do |f| %>
            <%= f.hidden_field :user_id, value: current_user.id %>

            <div class="field mb-3">
              <%= f.label :スポット名 %><br />
              <%= f.text_field :name, autofocus: true, class: "form-control" %>
            </div>

            <div class="field mb-3">
              <%= f.label :説明 %><br />
              <%= f.text_area :caption, class: "form-control" %>
            </div>

            <div class="field mb-3">
              <%= f.label :郵便番号 %><br />
              <%= text_field_tag :zipcode, nil,  class: "form-control" %>
              <div class="text-muted postcode-info">※ 郵便番号を入力すると住所が自動で表示されます。<br />　住所を変更する場合に利用ください。</div>
            </div>

            <div class="field mb-4">
              <%= f.label :住所 %><br />
              <%= f.text_field :address, class: "form-control" %>
            </div>

            <div class="field">
              <%= f.submit '更新する', class: "btn btn-sm btn-success form-control mb-4" %>
            </div>
          <% end %>

          <%= link_to '削除する', post_path(@post.id), method: :delete, "data-confirm" => "本当に削除しますか？", class: "btn btn-sm btn-danger form-control" %>
        </div>
      </div>
    </div>
  </div>
</div>

<%= javascript_pack_tag "jpostal",  'data-turbolinks-track': 'reload' %>
