<div class="container">
  <div class="row my-4">
    <div class="col">
      <div class="row">
        <div class="col">
          <h3>みんなの投稿一覧</h3>
        </div>
        <div class="col text-right">
          <%= link_to '＋', new_post_path, class: "btn btn-info rounded-circle" %>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <table class="table">
            <tr>
              <th>投稿者</th>
              <th>店名</th>
              <th>説明</th>
              <th>住所</th>
              <th>コメント数</th>
            </tr>
            <% @posts.each do |post| %>
              <tr>
                <td><%= image_tag post.user.image, size: "80x80" %><br /><%= post.user.name %></td>
                <td><%= link_to post_path(post.id) do %><%= post.name %><% end %></td>
                <td><%= post.caption %></td>
                <td><%= post.address %></td>
                <td><%= post.comments.count %></td>
              </tr>
            <% end %>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
