<div class="container">
  <div class="row my-4">
    <div class="col">
      <div class="row">
        <div class="col offset-1">
          <h3>新規投稿フォーム</h3>
          <%= render 'layouts/error', obj: @post %>
        </div>
      </div>

      <div class="row">
        <div class="col-6 mx-auto">
          <%= form_with model: @post, url: posts_path, method: :post, local: true do |f| %>
            <div class="field mb-3">
              <%= f.label :スポット名 %><br />
              <%= f.text_field :name, autofocus: true, class: "form-control" %>
            </div>

            <div class="field mb-3">
              <%= f.label :説明 %><br />
              <%= f.text_area :caption, class: "form-control" %>
            </div>

            <div class="field mb-3">
              <%= f.label :郵便番号 %><br />
              <%= text_field_tag :zipcode, nil, class: "form-control" %>
              <div class="text-muted postcode-info">※ 郵便番号を入力すると住所が自動で表示されます。</div>
            </div>

            <div class="field mb-4">
              <%= f.label :住所 %><br />
              <%= f.text_field :address, class: "form-control" %>
            </div>

            <div class="field">
              <%= f.submit '投稿する', class: "btn btn-sm btn-success form-control" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<%= javascript_pack_tag "jpostal",  'data-turbolinks-track': 'reload' %>
