<div class="container">
  <div class="row my-4">
    <div class="col">
      <div class="row">
        <div class="col">
          <h3>投稿詳細</h3>
        </div>
      </div>

      <div class="row justify-content-between">
        <div class="col-6 border">
          GoogleMapの地図
        </div>

        <div class="col-6">
          <table class="table">
            <tr>
              <th>投稿者</th>
              <td><%= link_to @post.user.name, user_path(@post.user_id) %></td>
            </tr>
            <tr>
              <th>店名（場所の名前）</th>
              <td><%= @post.name %></td>
            </tr>
            <tr>
              <th>説明（感想など）</th>
              <td><%= @post.caption %></td>
            </tr>
            <tr>
              <th>住所</th>
              <td><%= @post.address %></td>
            </tr>
            <tr>
              <th>投稿に対するコメント</th>
              <td><%= @post.comments.count %></td>
            </tr>
          </table>

          <% if @post.user_id == current_user.id %>
            <div class="row">
              <div class="col d-flex justify-content-end">
                <%= link_to '編集する', edit_post_path(@post.id), class: "btn btn-sm btn-success" %>
              </div>
            </div>
          <% end %>
        </div>

        <!-- コメントのための記述 -->
        <!--<div class="row">-->
        <!--  <div class="col">-->
            <%#= form_with model: "#", url: "#", method: :post, local: false do %>
              <%#= f.text_area :comment, placeholder: 'コメントを入力してください。' %>
              <%#= f.submit 'コメントを送信', class: "btn btn-sm btn-success" %>
            <%# end %>
        <!--  </div>-->
        <!--</div>-->

      </div>
    </div>
  </div>
</div>


