<% unless current_user.guest_user? %>
  <div class="row">
    <div class="col mt-2 pr-0 pl-3">
      <%= form_with model: [post, comment], local: false do |f| %>
        <div class="row">
          <div class="col d-flex justify-content-end">
            <%= f.text_area :comment, rows: '3', placeholder: "コメントを入力してください", class: "w-100" %>
          </div>
        </div>
        <div class="row mt-2">
          <div class="col d-flex justify-content-between">
            <div id="comment_count">
              <%= render 'public/comments/count', post: post %>
            </div>
            <div>
              <% scores = post.comments.pluck(:score) %>
              <% total_score = scores.sum %>
              <% average_score = total_score.to_f / post.comments.count %>
              <% if average_score >= 75 %>
                平均感情分析値 ( コメントのみ )：<span class="sentiment-score text-success"><b><%= average_score.to_i %>点</b></span> /100点
              <% elsif average_score >= 50 %>
                平均感情分析値 ( コメントのみ )：<span class="sentiment-score text-info"><b><%= average_score.to_i %>点</b></span> /100点
              <% elsif average_score >= 25 %>
                平均感情分析値 ( コメントのみ )：<span class="sentiment-score text-warning"><b><%= average_score.to_i %>点</b></span> /100点
              <% elsif average_score >= 0 %>
                平均感情分析値 ( コメントのみ )：<span class="sentiment-score"><b><%= average_score.to_i %>点</b></span> /100点
              <% else %>
                平均感情分析値 ( コメントのみ )：<span class="sentiment-score text-"><b><%= average_score.to_i %>点</b></span> /100点
              <% end %>
            </div>
            <div>
              <%= f.submit "送信する", class: "bnt btn-sm btn-success" %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
<% end %>
