<div class="container">
  <div class="row my-4">
    <div class="col">
      <div class="row d-flex justify-content-between">
        <div class="col">
          <h3>"<%= @search_query %>" を含むコメント一覧（管理者）</h3>
        </div>
        <div class="col">
          <div class="search_form">
            <%= form_with url: admin_search_comment_path, method: :get, local: true, class: "d-flex justify-content-end" do |f| %>
              <%= f.text_field :word, placeholder: ' コメントの検索ワードを入力', class: "form-control w-75" %>
              <%= f.submit '検索', class: "btn btn-sm btn-outline-primary ml-1 mr-4" %>
            <% end %>
          </div>
        </div>
      </div>

      <% if @no_results %>
        <div class="row mt-4">
          <div class="col">
            <p>該当するコメントはヒットしませんでした</p>
          </div>
        </div>
      <% else %>
        <div class="row mt-4">
          <div class="col-11 mx-auto">
            <div class="row border-top border-bottom">
              <div class="col-2 py-3 fw-bold">投稿者</div>
              <div class="col-5 py-3 fw-bold">コメントの内容</div>
              <div class="col-2 py-3 fw-bold">感情分析スコア</div>
              <div class="col-2 py-3 fw-bold">投稿日時</div>
              <div class="col py-3"></div>
            </div>
            <% @comments.each do |comment| %>
              <div class="row border-bottom">
                <div class="col-2 py-3">
                  <%= link_to admin_user_path(comment.user.id), class: "text-decoration-none text-dark" do %>
                    <%= image_tag comment.user.get_profile_image(30 , 30), class: "rounded-circle mr-1" %>
                  <% end %>
                  <%= link_to admin_user_path(comment.user.id) do %>
                    <%= comment.user.name %>
                  <% end %>
                </div>
                <div class="col-5 py-3"><%= comment.comment %></div>
                <div class="col-2 py-3">
                  <% if comment.score >= 75 %>
                    <span class="sentiment-score text-success"><b><%= comment.score.to_i %>点</b></span> /100点
                  <% elsif comment.score >= 50 %>
                    <span class="sentiment-score text-primary"><b><%= comment.score.to_i %>点</b></span> /100点
                  <% elsif comment.score >= 25 %>
                    <span class="sentiment-score text-warning"><b><%= comment.score.to_i %>点</b></span> /100点
                  <% else %>
                    <span class="sentiment-score text-danger"><b><%= comment.score.to_i %>点</b></span> /100点
                  <% end %>
                </div>
                <div class="col-2 py-3"><%= comment.created_at.strftime('%Y/%m/%d' + ' ' + '%H:%M') %></div>
                <div class="col py-3">
                  <%= link_to '削除', admin_comment_path(comment.id), remote: true, method: :delete, "data-confirm" => "本当にコメントを削除しますか？", class: "btn btn-sm btn-danger" %>
                </div>
              </div>
            <% end %>
          </div>
          <!-- ページネーションの記述 -->
          <%= paginate @comments %>
        </div>
      <% end %>
    </div>
  </div>
</div>