<div class="container">
  <div class="row my-4">
    <div class="col">
      <div class="row d-flex justify-content-between">
        <div class="col-xl-6 col-lg-12">
          <h3>"<%= @search_query %>" を含むコメント一覧（管理者）</h3>
        </div>
        <div class="col-xl-6 col-lg-12">
          <div class="search_form">
            <%= form_with url: admin_search_comment_path, method: :get, local: true, class: "d-flex justify-content-end" do |f| %>
              <%= f.text_field :word, placeholder: ' コメントの検索ワードを入力', class: "form-control search_group_box" %>
              <%= f.submit '検索', class: "btn btn-sm btn-outline-primary search_group_btn" %>
            <% end %>
          </div>
        </div>
      </div>

      <% if @no_results %>
        <div class="row mt-4">
          <div class="col">
            <p>該当するコメントはヒットしませんでした</p>
          </div>
        </div>
      <% else %>
        <div class="row mt-4">
          <div class="col">
            <table class="table">
              <tr>
                <th>投稿者</th>
                <th>コメントの内容</th>
                <th>感情分析スコア</th>
                <th>投稿日時</th>
                <th></th>
              </tr>
              <% @comments.each do |comment| %>
                <tr>
                  <td>
                    <%= link_to admin_user_path(comment.user.id), class: "text-decoration-none text-dark" do %>
                      <%= image_tag comment.user.get_profile_image(30 , 30), class: "rounded-circle mr-1" %>
                    <% end %>
                    <%= link_to admin_user_path(comment.user.id) do %>
                      <%= comment.user.name %>
                    <% end %>
                  </td>
                  <td>
                    <%= comment.comment %>
                  </td>
                  <td>
                    <% if comment.score >= 75 %>
                      <span class="sentiment-score text-success"><b><%= comment.score.to_i %>点</b></span> /100点
                    <% elsif comment.score >= 50 %>
                      <span class="sentiment-score text-primary"><b><%= comment.score.to_i %>点</b></span> /100点
                    <% elsif comment.score >= 25 %>
                      <span class="sentiment-score text-warning"><b><%= comment.score.to_i %>点</b></span> /100点
                    <% else %>
                      <span class="sentiment-score text-danger"><b><%= comment.score.to_i %>点</b></span> /100点
                    <% end %>
                  </td>
                  <td>
                    <%= comment.created_at.strftime('%Y/%m/%d' + ' ' + '%H:%M') %>
                  </td>
                  <td>
                    <%= link_to '削除', admin_comment_path(comment.id),  method: :delete, "data-confirm" => "本当にコメントを削除しますか？", class: "btn btn-sm btn-danger" %>
                  </td>
                </tr>
              <% end %>
            </table>
          </div>
          <!-- ページネーションの記述 -->
          <%= paginate @comments %>
        </div>
      <% end %>
    </div>
  </div>
</div>