<div id="adminPostsData" data-json='<%== @posts_json.to_json %>'></div>

<div class="container">
  <div class="row my-4">
    <div class="col">
      <div class="row">
        <div class="col">
          <h3>"<%= @search_query %>" を含む投稿一覧（管理者）</h3>
        </div>
      </div>

      <% if @no_results %>
        <div class="row mt-4">
          <div class="col">
            <p>該当する投稿はヒットしませんでした</p>
          </div>
        </div>
      <% else %>
        <div class="row mt-2">
          <div class="col-lg-7 col-md-12 px-0">
            <div id="admin-search-map"></div>
          </div>

          <div class="col-lg col-md-12 overflow-auto post_lists">
            <% @posts.each do |post| %>
              <%= link_to admin_post_path(post.id), class: "text-dark text-decoration-none" do %>
                <div class="row mb-2">
                  <div class="col border py-1">
                    <div class="row">
                      <div class="col-3 pr-0">スポット名：</div>
                      <div class="col pl-0"><%= post.name.truncate(20) %></div>
                    </div>
                    <div class="row">
                      <div class="col-3 pr-0">場所の説明：</div>
                      <div class="col pl-0"><%= post.caption.truncate(20) %></div>
                    </div>
                    <div class="row">
                      <div class="col-3 pr-0">住　所　　：</div>
                      <div class="col pl-0"><%= post.address.truncate(20) %></div>
                    </div>
                    <div class="row">
                      <div class="col px-0 d-flex justify-content-end">
                        <%= link_to '',admin_post_path(post.id), style: "flex-grow: 1;" %>
                        <%= link_to admin_user_path(post.user_id), class: "text-dark text-decoration-none pr-3" do %>
                          <%= image_tag post.user.get_profile_image(30, 30), class: "rounded-circle mr-1" %> <%= post.user.name %>
                        <% end %>
                      </div>
                    </div>
                  </div>
                </div>
              <% end %>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

<%= javascript_pack_tag 'admin_search_map', 'data-turbolinks-track': 'reload' %>
