<div class="container">
  <div class="row my-4">
    <div class="col">
      <div class="row">
        <div class="col">
          <h3>"<%= @search_query[1..-1] %>" を含むユーザー一覧(管理者)</h3>
        </div>
      </div>
      <% if @no_results %>
        <div class="row mt-4">
          <div class="col">
            <p>該当するユーザーはヒットしませんでした</p>
          </div>
        </div>
      <% else %>
        <div class="row mt-4">
          <div class="col-10 mx-auto">
            <div class="row border-top border-bottom">
              <div class="col p-3 fw-bold"></div>
              <div class="col p-3 fw-bold">ユーザー名</div>
              <div class="col p-3 fw-bold">投稿数</div>
              <div class="col p-3 fw-bold">登録日</div>
            </div>
            <div class="row border-bottom">
              <% @users.each do |user| %>
                <div class="col py-2">
                  <%= link_to admin_user_path(user.id) do %>
                    <%= image_tag user.get_profile_image(60, 60), class: "rounded-circle mx-auto d-block" %>
                  <% end %>
                </div>
                <div class="col py-2"><%= link_to user.name, admin_user_path(user.id) %></div>
                <% unless user.guest_user? %>
                  <div class="col py-2"><%= number_with_delimiter(user.posts.count) %></div>
                  <div class="col py-2"><%= user.created_at.strftime('%Y/%m/%d') %></div>
                <% else %>
                  <div class="col py-2">ー</div>
                  <div class="col py-2">ー</div>
                <% end %>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
