<div class="container">
  <div class="row my-4">
    <div class="col-3">
      <% if @user.image.attached? %>
        <%= image_tag @user.image, size: "150x150", class: "rounded-circle mx-auto d-block" %>
      <% else %>
        <%= image_tag 'no_image.jpg', size: "150x150", class: "rounded-circle mx-auto d-block" %>
      <% end %>

      <!-- ゲストユーザーの場合はプロフィール編集ボタンを非表示 -->
      <% unless @user.guest_user? %>
       <div class="row">
         <div class="col">
           <%= link_to edit_user_path(@user), class: "btn btn-outline-secondary btn-block edit_user_#{@user.id}" do %>
              <i class="fa-solid fa-user-pen"></i>
            <% end %>
         </div>
       </div>
      <% end %>

      <table class="table">
        <tr>
          <th>ユーザー名</th>
          <td><%= @user.name %></td>
        </tr>
        <tr>
          <th>投稿数</th>
          <td><%= @user.posts.count %></td>
        </tr>
        <tr>
          <th>登録日</th>
          <td><%= @user.created_at.strftime('%Y/%m/%d') %></td>
        </tr>
      </table>
    </div>

    <div class="col-9">
      <h3>わたしの投稿一覧</h3>

      <table class="table">
        <tr>
          <th>投稿者</th>
          <th>スポット名</th>
          <th>場所の説明</th>
          <th>コメント数</th>
        </tr>
        <tr>
          <td><%#= @posts.user.image %><br /><%#= @posts.user.name %></td>
          <td><%#= @posts.shop_name %></td>
          <td><%#= @posts.caption %></td>
          <td><%#= @posts.comments.count %></td>
        </tr>
      </table>
    </div>
  </div>
</div>