<%= render 'layouts/flash' %>

<div class="container">
  <div class="row my-4">
    <div class="col-3">
      <% if @user.image.attached? %>
        <%= image_tag @user.image, size: "150x150", class: "rounded-circle mx-auto d-block" %>
      <% else %>
        <%= image_tag 'no_image.jpg', size: "150x150", class: "rounded-circle mx-auto d-block" %>
      <% end %>

      <%= link_to edit_user_path(@user), class: "btn btn-outline-secondary btn-block" do %>
        <i class="fa-solid fa-user-pen"></i>
      <% end %>

      <div class="row">
        <div class="col border-top border-bottom">ユーザー名</div>
        <div class="col border-top border-bottom"><%= @user.name %></div>
      </div>
      <div class="row">
        <div class="col border-bottom">投稿数</div>
        <div class="col border-bottom"><%= @user.posts.count %></div>
      </div>
      <div class="row">
        <div class="col">登録日</div>
        <div class="col"><%= @user.created_at.strftime('%Y/%m/%d') %></div>
      </div>
    </div>

    <div class="col-9">
      <h3>わたしの投稿一覧</h3>

      <table class="table">
        <tr>
          <th>スポット名</th>
          <th>場所の説明</th>
          <th>コメント数</th>
        </tr>
        <tr>
          <td><%#= @user.posts.shop_name %></td>
          <td><%#= @user.posts.caption %></td>
          <td><%#= @comments.count %></td>
        </tr>
      </table>




    </div>
  </div>
</div>