<div class="container">
  <div class="row">
    <div class="col">
      <h1 class="my-2"><%= link_to 'Nomadism', root_path, class: " text-decoration-none text-dark" %></h1>
    </div>

    <div class="col-9">
      <ul class="nav mt-3 d-flex justify-content-end">
        <li class="nav-item">
          <%= link_to about_path, class: "btn" do %>
            <i class="fa-solid fa-diagram-project"></i> About
          <% end %>
        </li>

        <% if user_signed_in? %>
          <li class="nav-item">
            <%= link_to mypage_path, class: "btn" do %>
              <i class="fa-solid fa-user"></i> マイページ
            <% end %>
          </li>
        <% end %>

        <li class="nav-item">
          <%= link_to posts_path, class: "btn" do %>
            <i class="fa-solid fa-satellite"></i> 投稿一覧
          <% end %>
        </li>
        <!-- フェーズ3で実装するため一時的にコメントアウト-->
        <!--<li class="nav-item">-->
        <!--  <%#= link_to "#", class: "btn" do %>-->
        <!--    <i class="fa-solid fa-people-group"></i> グループ一覧-->
        <!--  <%# end %>-->
        <!--</li>-->

        <% if user_signed_in? %>
          <li class="nav-item">
            <%= link_to destroy_user_session_path, method: :delete, class: "btn" do %>
              <i class="fa-solid fa-arrow-right-from-bracket"></i> ログアウト
            <% end %>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to new_user_session_path, class: "btn" do %>
              <i class="fa-solid fa-arrow-right-to-bracket"></i> ログイン
            <% end %>
          </li>
        <% end %>
      </ul>
    </div>

  </div>
</div>