<!-- 画面幅がlgサイズ(992px)以下の場合、ハンバーガーメニューに切り替えて表示 -->
<nav class="navbar navbar-expand-lg navbar-light">
  <div class="container">
    <%= link_to root_path, class: "navbar-brand ml-3 logo" do %>
      <%= image_tag 'logo.jpg', size: "40x40" %>Nomadism
    <% end %>

    <%= button_tag(type: "button", class: "navbar-toggler", data: {toggle: "collapse", target: "#navbarNavDropdown", controls: "navbarNavDropdown", expanded: "false", label: "Toggle navigation"}) do %>
      <%= content_tag(:span, '', class: "navbar-toggler-icon") %>
    <% end %>

    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <%= link_to about_path, class: "nav-link text-dark btn" do %>
            <i class="fa-solid fa-diagram-project"></i> About
          <% end %>
        </li>

        <% if user_signed_in? %>
          <li class="nav-item">
            <%= link_to mypage_path, class: "nav-link text-dark btn" do %>
              <i class="fa-solid fa-user"></i> マイページ
            <% end %>
          </li>
        <% end %>

        <li class="nav-item">
          <%= link_to posts_path, class: "nav-link text-dark btn" do %>
            <i class="fa-solid fa-satellite"></i> 投稿一覧
          <% end %>
        </li>
        <!-- フェーズ3で実装するため一時的にコメントアウト-->
        <!--<li class="nav-item">-->
        <!--  <%#= link_to "#", class: "nav-link text-dark btn" do %>-->
        <!--    <i class="fa-solid fa-people-group"></i> グループ一覧-->
        <!--  <%# end %>-->
        <!--</li>-->

        <% if user_signed_in? %>
          <li class="nav-item">
            <%= link_to destroy_user_session_path, method: :delete, class: "nav-link text-dark btn" do %>
              <i class="fa-solid fa-arrow-right-from-bracket"></i> ログアウト
            <% end %>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to new_user_session_path, class: "nav-link text-dark btn" do %>
              <i class="fa-solid fa-arrow-right-to-bracket"></i> ログイン
            <% end %>
          </li>
        <% end %>
      </ul>
    </div>

    <!-- 検索窓を表示 -->
    <%= render 'layouts/search' %>

  </div>
</nav>