<!-- 画面幅がlgサイズ(992px)以下の場合、ハンバーガーメニューに切り替えて表示 -->
<nav class="navbar navbar-expand-lg navbar-light">
  <div class="container">
    <%= link_to root_path, class: "navbar-brand ml-3 logo" do %>
      <%= image_tag 'logo.jpg', size: "40x40" %>Nomadism
    <% end %>

    <!-- 検索窓を表示 -->
    <%= render 'layouts/search' %>

    <%= button_tag(type: "button", class: "navbar-toggler", data: {toggle: "collapse", target: "#navbarNavDropdown", controls: "navbarNavDropdown", expanded: "false", label: "Toggle navigation"}) do %>
      <%= content_tag(:span, '', class: "navbar-toggler-icon") %>
    <% end %>

    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav ml-auto">
        <!-- 管理者ログイン時以外はaboutページへのリンクを表示 -->
        <% unless admin_signed_in? %>
          <li class="nav-item">
            <%= link_to about_path, class: "nav-link text-dark btn" do %>
              <i class="fa-solid fa-diagram-project"></i> About
            <% end %>
          </li>
        <% end %>

        <!-- 管理者ログインの場合の表示 -->
        <% if admin_signed_in? %>
          <li class="nav-item">
            <%= link_to admin_root_path, class: "nav-link text-dark btn" do %>
              <i class="fa-solid fa-user"></i> マイページ
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to admin_users_path, class: "nav-link text-dark btn" do %>
              <i class="fa-solid fa-users"></i> ユーザー一覧
            <% end %>
          <li class="nav-item">
            <%= link_to admin_posts_path, class: "nav-link text-dark btn" do %>
              <i class="fa-solid fa-satellite"></i> 投稿一覧
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to admin_comments_path, class: "nav-link text-dark btn" do %>
              <i class="fa-solid fa-comments"></i> コメント一覧
            <% end %>
          </li>
          <!-- フェーズ3で実装するため一時的にコメントアウト-->
          <!--<li class="nav-item">-->
          <!--  <%#= link_to admin_groups_path, class: "nav-link text-dark btn" do %>-->
          <!--    <i class="fa-solid fa-people-group"></i> グループ一覧-->
          <!--  <%# end %>-->
          <!--</li>-->
          <li class="nav-item">
            <%= link_to destroy_admin_session_path, method: :delete, class: "nav-link text-dark btn" do %>
              <i class="fa-solid fa-arrow-right-from-bracket"></i> ログアウト
            <% end %>
          </li>
        <!-- 会員ログインの場合の表示 -->
        <% elsif user_signed_in? %>
          <li class="nav-item">
            <%= link_to mypage_path, class: "nav-link text-dark btn" do %>
              <i class="fa-solid fa-user"></i> マイページ
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to posts_path, class: "nav-link text-dark btn" do %>
              <i class="fa-solid fa-satellite"></i> 投稿一覧
            <% end %>
          </li>
          <!-- フェーズ3で実装するため一時的にコメントアウト-->
        <!--<li class="nav-item">-->
        <!--  <%#= link_to groups_path, class: "nav-link text-dark btn" do %>-->
        <!--    <i class="fa-solid fa-people-group"></i> グループ一覧-->
        <!--  <%# end %>-->
        <!--</li>-->
          <li class="nav-item">
            <%= link_to destroy_user_session_path, method: :delete, class: "nav-link text-dark btn" do %>
              <i class="fa-solid fa-arrow-right-from-bracket"></i> ログアウト
            <% end %>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to new_user_session_path, class: "nav-link text-dark btn" do %>
              <i class="fa-solid fa-arrow-right-to-bracket"></i> ログイン
            <% end %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
