<!DOCTYPE html>
<html>
  <head>
    <title>Nomadism</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script src="https://kit.fontawesome.com/64e9ac69ea.js" crossorigin="anonymous"></script>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="border mb-4">
      <%= render 'layouts/header' %>
    </header>

    <main>
      <% flash.each do |message_type, message| %>
        <div class="flash-message <%= message_type %>"><%= message %></div>
      <% end %>

      <%= yield %>
    </main>

    <footer class="border mt-4">
      <div class="container">
        <div class="row">
          <div class="col d-flex justify-content-center my-4">
            <p>Copyright © 2024 Hiroyuki Tokiya.</p>
              <!-- <%#= link_to 'https://github.com/tokiya03' do %><i class='fa-brands fa-github'></i><%# end %> -->
              <!-- <%#= link_to 'https://x.com/h_tokiya03' do %><i class="fa-brands fa-twitter"></i><%# end %> -->
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
