<!DOCTYPE html>
<html>
  <head>
    <title>Nomadism</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script src="https://kit.fontawesome.com/64e9ac69ea.js" crossorigin="anonymous"></script>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="border-bottom">
      <%= render 'layouts/header' %>
    </header>

    <main style="min-height: calc(678px);">
      <!-- フラッシュメッセージを表示 -->
      <%= render 'layouts/flash-message' %>

      <%= yield %>
    </main>

    <footer class="border-top">
      <%= render 'layouts/footer' %>
    </footer>
  </body>
</html>
